.nombre-producto {
  text-align: center;
  margin-bottom: 15rem;
}

.otrosProductos {
  padding: 5rem;
}

@media only screen and (max-width: 578px) {
  .nombre-producto {
    margin-bottom: 2rem;
  }
  .otrosProductos {
    padding: 2rem;
  }
}
  
